@font-face {
  font-family: Barlow-Regular;
  src: url(./assets/fonts/Barlow/Barlow-Regular.ttf);
}


@font-face {
  font-family: Barlow-Medium;
  src: url(./assets/fonts/Barlow/Barlow-Medium.ttf);
}


@font-face {
  font-family: Barlow-ExtraBold;
  src: url(./assets/fonts/Barlow/Barlow-ExtraBold.ttf);
}


@font-face {
  font-family: Barlow-Black;
  src: url(./assets/fonts/Barlow/Barlow-Black.ttf);
}


@font-face {
  font-family: Barlow-SemiBold;
  src: url(./assets/fonts/Barlow/Barlow-SemiBold.ttf);
}


@font-face {
  font-family: Barlow-Bold;
  src: url(./assets/fonts/Barlow/Barlow-Bold.ttf);
}